<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- [Some important array method in JavaScript] -->
  </body>

  <script>
    // [define Array]//

    // let array = ["Mango", "Pinepal", "Kiwi", "Banana"];
    // let flag = Array.isArray(array);
    // document.write(flag);

    // [define ValueOf]//

    // let fruit = ["Mango", "Pinepal", "Kiwi", "Banana"];
    // let flag = fruit.valueOf();
    // document.write(flag);

    // [define Join]//

    // let fruit = ["Mango", "Pinepal", "Kiwi", "Banana"];
    // let flag = fruit.join(" ||| ");
    // document.write(flag);

    var color = ["Purple", "Red", "Yellow"];
    let vegitable = ["Onion", "Potato", "Bringle"];
    var shop = color.concat(vegitable);
    document.write(shop);
  </script>
</html>

