<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Document</title>
  </head>

  <body>
    <!-- [Array in JavaScript] -->
  </body>

  <script>
    var cars = [];
    cars = ["Car1", "Car2", "Car3", "Car4"];
    cars[4] = ["Car6"];
    document.write(cars[1]);
    document.write(cars[3]);
    document.write(cars[5]);
    document.write(cars[4]);
  </script>
</html>
