<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- [JavaScript break statement] -->
  </body>

  <script>
    for (i = 0; i <= 10; i++) {
      if (i == 5) {
        continue;
      }
      document.write(i + "<br>");
    }
    document.write(i + "<hr>");
    for (j = 0; j <= 4; j++) {
      if (j == 5) {
        continue;
      }
      document.write(j + "<br>");
    }
  </script>
</html>
