<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Click Button</title>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <div
              class="box"
              style="margin-top: 145px; background-color: palegreen; border: 6px solid black;padding: 75px;"
            >
              <p style="text-align: center; margin-bottom: 16px">
                Click button and chnage the website
              </p>
              <center><button class="button is-dark" onclick="Dark()">Open Google!</button></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>


  
  <script>

function Dark(){
 window.open("https://www.google.com/")

}
  </script>
</html>
