<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Document</title>
  </head>

  <body>
    <!--[JavaScript conditional statements (if, if-else and if-elseif)] -->
    <p id="Output"></p>
  </body>

  <script>
    // [if-else]//
    // var age = 12;
    // if (age >= 18) {
    //   document.getElementById("Output").textContent = "You Can Go";
    // } else {
    //   document.getElementById("Output").textContent = "No You Can't Go";
    // }

    //[if-elseif-else]
    var age = 18;
    
    if (age >= 18) {
      document.write("Yes You Can Vote");
    } else if (age == 17) {
      document.write("plz Wait One More Year");
    } else {
      document.write("No You can't Do Vote");
    }
  </script>
</html>
