<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Document</title>


    <button onclick="Change()">Background</button>

    <p id="p1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat eveniet, mollitia, harum inventore quos provident in, quam repudiandae unde repellendus eos sit laboriosam maxime vero dolorum? Totam iure mollitia eos pariatur fuga molestias, enim placeat quis ex velit dignissimos maxime atque reprehenderit, laborum minima?</p>


    <button onclick="red()">RED</button>
    <button onclick="blue()">Blue</button>
    <button onclick="green()">Green</button>
    <button onclick="orange()">orange</button>
  </head>

  <body style="height: 1100px;">
    <!-- video link for this all lecture -->
    <!-- <img src="https://www.youtube.com/watch?v=LPeCkxZX4qs&ab_channel=WsCubeTech"/> -->
  </body>

  <script>
    // [Function in JS]//

    // alert("Error");
    // document.write("<h3 class='is-size-3 has-text-warning'>Hey I M Here!</h3>");
    // document.write("<h3 class=is-size-3>Ooops At Home!</h3>");

    // prompt("plz enter your city", "Niki");

    // confirm("Are You Sure for Delete this file??");

    // -----------------------------------------------------------------//

    // [Variable in JS]//

    // var name;
    // name = "Vachan Shah";
    // alert(name);

    // var many = "Shah Vachan";
    // alert(many);

    // ver_test = "testinggggggg";
    // document.write("_test");


  //   function Change(){
  // // let name=document.body.style.background="red"
  // let name=document.body.style.background="red"
  //   }


    function red(){
      document.getElementById("p1").style.color="red"
      // document.getElementById("p1").style.background="yellow"
      // document.getElementById("p1").style.fontSize="25px"
    }

    function blue(){
      document.getElementById("p1").style.color="blue"
    }

    
    function green(){
      document.getElementById("p1").style.color="green"
    }

    
    function orange(){
      document.getElementById("p1").style.color="orange"
    }


  </script>
</html>
