<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<style></style>

<body>
    <!-- [JavaScript Math object] -->
</body>

<script>
    //if value 3.5 or above hse to 4 avse nd 3.4 nd below hse to round ma 3 avse

    // [Math.round]//

    var x = Math.round(3.5);
    document.write(
      "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    );
    // <----------------------------------------------------------------------->//
    //[Math.pow]//

    // var x = Math.pow(2, 3);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
    //[Math.sqrt]//

    // var x = Math.sqrt(4);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//

    //[Math.abs]//

    // var x = Math.abs(-2);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
    // [Math.ceil]//

    // var x = Math.ceil(2.9);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
    //[Math.floor]//

    // var x = Math.floor(5.2);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
    //[Math.mix]//

    // var x = Math.min(5, 2, 6);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
    //[Math.max]//

    // var x = Math.max(5, 2, 6);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
    //[Math.random]//

    // var x = Math.random();
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

                    // <------------------------>//

    //particular open 4 value to add math.floor in into 10000
    // var x = Math.floor(Math.random() * 10000);
    // document.write(
    //   "<h1 style=text-align:center;font-size:75px;color:purple>" + x + "</h1>"
    // );

    // <----------------------------------------------------------------------->//
</script>

</html>