<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- [Printing a page or epecific element data using JavaScript] -->

    <p id="data">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum veritatis
      dolorem in consequatur harum a, ipsam molestias non nam? Rem totam beatae
      voluptatibus velit alias modi nam id et, architecto optio amet consectetur
      dolorem eveniet nesciunt temporibus atque ipsa quod tempore, magnam quos
      earum consequatur ducimus. Iusto eius hic eos voluptatibus ratione
      aspernatur nam corrupti aut et, sapiente illum aliquam eligendi, quisquam
      consectetur consequatur necessitatibus repellat? Repellendus, unde fugit
      voluptates, nobis placeat debitis architecto cupiditate, quis ipsam
      obcaecati nulla facilis expedita iusto? Optio assumenda qui molestias
      praesentium blanditiis modi dolores, quidem non iure quas error dolorem
      esse unde nostrum atque ipsum consequuntur beatae culpa voluptates placeat
      at laudantium quo. Et, dolores? Tempora ad ut distinctio velit nostrum
      assumenda, odio perferendis.<br /><br />
      Culpa quod quo ad id ea possimus praesentium. Ullam sapiente quae eveniet
      ea ratione sequi autem eligendi? Veniam nihil ea quo perferendis, debitis
      adipisci maiores, incidunt labore culpa possimus harum sequi iure.
      Officiis veniam voluptates, recusandae repellendus assumenda quidem ab
      ullam ad expedita deleniti corporis similique harum vel officia quaerat
      praesentium laborum non eius ipsum rem eveniet magni. Enim facere unde
      deserunt esse atque recusandae repellat exercitationem, id dignissimos
      mollitia ad eius nesciunt iusto, reprehenderit quae tempora adipisci non,
      ullam illum. Odio eum soluta ipsam provident, veniam ullam consectetur
      inventore, dicta rem vitae minus voluptas cupiditate quisquam officia sunt
      deserunt corporis nulla cum alias. Deserunt suscipit nesciunt, ullam harum
      perferendis laborum similique mollitia omnis dignissimos necessitatibus
      ratione.<br /><br />
      Quidem, eius molestiae blanditiis maiores asperiores, sapiente ad in
      corporis, laborum fugiat dignissimos cum quasi adipisci iure! Molestiae,
      veritatis ipsam labore vel cum quam ex vero obcaecati. Nemo amet eligendi
      quae sed magnam ab, rerum placeat nulla eveniet vero ipsum fugiat
      asperiores modi veniam cumque maxime suscipit qui accusamus rem doloremque
      molestias quas quo? At rem, maxime aliquam expedita ex delectus, optio
      quis eveniet vel qui saepe ullam sapiente commodi, distinctio libero hic
      explicabo porro ipsum aspernatur molestiae repudiandae maiores. Tenetur
      hic earum nesciunt debitis sit, vel sint! Nulla odit labore recusandae
      soluta cum quisquam totam blanditiis reprehenderit eveniet ducimus?
      Doloremque corporis, tenetur facere iure fuga totam culpa distinctio
      nihil? Sed amet cum recusandae, labore consequatur dolorum dignissimos
      sint eius, autem eos numquam magni maxime fuga et voluptatem. Dolorem quos
      repellat accusantium numquam temporibus autem consequuntur at velit ipsa
      quas.<br /><br />
      Corrupti cupiditate quis numquam deleniti obcaecati officiis ipsa sequi
      sapiente, rem beatae architecto inventore fugit reprehenderit doloremque
      rerum. Iure reiciendis accusamus blanditiis velit quibusdam ad error
      suscipit tempora consequatur facere, impedit, fuga nesciunt aliquid
      necessitatibus quo tenetur, eum fugit ipsum vitae dicta pariatur
      praesentium aliquam! Perspiciatis labore pariatur iste et blanditiis
      quaerat, error consequatur suscipit adipisci. Necessitatibus reprehenderit
      corrupti nemo. Excepturi natus impedit asperiores ea ut quidem similique
      soluta amet perferendis delectus id, quaerat, cupiditate inventore dolore,
      adipisci sint?<br /><br />
      Aut commodi est nisi adipisci obcaecati totam eaque, cumque hic, libero
      esse iste, id impedit veniam possimus debitis suscipit ab odio odit
      consequatur eos. Saepe labore rem possimus illo accusantium sunt nam
      mollitia, voluptatum a minus et, aliquid iure! Atque laborum perferendis
      aspernatur eveniet repellendus soluta itaque laboriosam qui, illo dolorem
      quaerat ab animi obcaecati, temporibus fugit.
    </p>

    <center>
      <button class="button" onclick="PrintContent()">
        Print Page Content
      </button>
    </center>
  </body>

  <script>
    function PrintContent() {
      window.print();
    }
  </script>
</html>
