<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h4
      class="is-size-4"
      id="res"
      style="text-align: center; font-size: 55px"
    ></h4>
  </body>

  <script>
    //[Types of operators]//

    //    ( 1.Arithmetic operator
    //     2.Logical operator
    //     3.Ternary operator
    //     4.Assignment operator
    //     5.Comparison operator)

    //1.[Arithmatic operator]//

    //[Addition]//

    // var x = 5;
    // var y = 6;
    // var z = x + y;
    // document.getElementById("res").innerHTML = z;

    //-----------------------------------------------------------------//
    //[substraction]//

    // var x = 8;
    // var y = 6;
    // var z = x - y;
    // document.getElementById("res").innerHTML=z
    //-----------------------------------------------------------------//

    //[substraction]//

    //   var x = 8;
    // var y = 6;
    // var z = x - y;
    // document.getElementById("res").innerHTML=z
    //-----------------------------------------------------------------//

    //[Mulltiplication]//

    // var x = 2;
    // var y = 6;
    // var z = x * y;
    // document.getElementById("res").innerHTML=z
    //-----------------------------------------------------------------//

    //[Division]//

    // var x = 8;
    // var y = 2;
    // var z = x / y;
    // document.getElementById("res").innerHTML=z
    //-----------------------------------------------------------------//

    //[Increment]//

    // var x = 9;
    // x++;
    // document.getElementById("res").innerHTML = x;
    //-----------------------------------------------------------------//

    //[Decrement]//

    // var x = 9;
    // x--;
    // document.getElementById("res").innerHTML = x;
    //-----------------------------------------------------------------//

    //2.[Comparison operator]//

    // var x = 20;
    // var y = 5;
    // z = x != y;  true
    // z = x == y;  false
    // z= x > y;    true
    // z= x < y;    false
    // z=  x <= y   false
    // z=  x >= y   true
    // document.getElementById("res").innerHTML = z;
    //-----------------------------------------------------------------//

    //3.[Logical operator]//

    // var x = false;
    // var y = false;
    // var z = x && y;    false

    // var x = true;
    // var y = true;
    // var z = x && y;   true

    // var x = false;
    // var y = false;
    // var z = x  || y;   false

    // var x = false;
    // var y = true;
    // var z = x  || y;  true

    // var x = true;
    // var y = true;
    // var z = x  || y;    true

    // document.getElementById("res").innerHTML = z;

    //-----------------------------------------------------------------//

    //4.[Ternary operator]//

    //Condition ? "true" : "false"
    // var x = 5;
    // var y = 9;
    // var z;
    // z = x > y ? "yes" : "No";     No

    // var x = 15;
    // var y = 9;
    // var z;
    // z = x > y ? "yes" : "No";    yes
    // document.getElementById("res").innerHTML = z;

    //-----------------------------------------------------------------//

    //5.[Assignment operator]//

    // var x = 15;
    // var z = x;  15

    // var x = 15;
    // var z = 7;
    // z += x;       22

    // var x = 15;
    // var z = 7;
    // z -= x;        -8

    // var x = 5;
    // var z = 7;
    // z *= x;       35

    // var x = 6;
    // var z = 30;
    // z /= x;            5

    // document.getElementById("res").innerHTML = z;
  </script>
</html>
