<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- //Put and Get data from the HTML element// -->

    <div id="main">Welcome to My City</div>
  </body>

  <script>
    //[Get data]//

    // let x = document.getElementById("main").innerHTML;
    // console.log(x);

    //-----------------------------------------------------------------//
    // [Put data]//

    document.getElementById("main").innerHTML =
      "<h4 class=is-size-4>MY CITY IS AHMEDABAD</h4>";
  </script>
</html>
