<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- RegExp  (Regular Expression) in JavaScript -->
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="box">
              <h4 class="is-size-4 has-text-centered mt-5 has-text-weight-bold">
                Registration form
              </h4>
              <br />
              <form>
                <label style="font-weight: 500; font-weight: 900"
                  >UserName*</label
                >
                <input
                  class="input is-primary"
                  placeholder="UserName"
                  id="username"
                  onkeyup="Exp(this.value)"
                /><br /><br />

                <label style="font-weight: 500; font-weight: 900"
                  >Password*</label
                >
                <input
                  class="input is-primary"
                  placeholder="Password"
                  id="password"
                  type="password"
                  name="password"
                  onkeyup="Exp(this.value)"
                /><br /><br />

                <label style="font-weight: 500; font-weight: 900"
                  >Confirm Password*</label
                >
                <input
                  class="input is-primary"
                  placeholder="Confirm Password"
                  id="confirm_password"
                  type="password"
                  name="confirm_password"
                  onkeyup="Exp(this.value)"
                /><br />

                <error
                  id="alert"
                  style="color: red; font-weight: 500; font-size: 14px"
                ></error
                ><br />

                <center>
                  <button
                    class="button is-primary"
                    onclick="Submit()"
                    style="font-weight: 900"
                  >
                    SUBMIT
                  </button>
                </center>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    var Pattern = /\s/g;
    var alert = document.getElementById("alert");
    function Exp(data) {
      var isSpace = Pattern.test(data);
      alert.innerText = "Space is not allowed";
      if (isSpace) {
      } else {
        alert.innerText = "";
      }
    }
  </script>
</html>
