<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- [Show and hide password using JavaScript] -->
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="box">
              <h4 class="is-size-4" style="font-weight: 700; text-align: left">
                Login form
              </h4>
              <br />

              <label style="font-weight: 600">User Name:</label>
              <input class="input is-warning" type="text" id="name" /><br />
              <label style="font-weight: 600">Password:</label>
              <input
                class="input is-warning"
                type="password"
                id="password"
              /><br /><br />

              <center>
                <button
                  class="button is-warning"
                  onclick="Login()"
                  style="border: 2px solid black"
                >
                  Login
                </button>
                <button
                  class="button is-warning"
                  onclick="ShowPass(this)"
                  style="border: 2px solid black"
                  ;
                >
                  Show Password
                </button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    var password = document.getElementById("password");
    function ShowPass(button) {
      var type = password.getAttribute("type");
      if (type === "password") {
        password.setAttribute("type", "text");
        button.innerText = "Hide Password";
      } else {
        password.setAttribute("type", "password");
        button.innerText = "Show Password";
      }
    }
  </script>
</html>
